{{ if and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}
[Unit]
Description=Bitwarden SSH Agent Bridge for Ansible/Compatibility
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/rm -f %t/ssh-agent.sock
# socatのforkを利用して直接npiperelayを呼び出す
ExecStart=socat UNIX-LISTEN:%t/ssh-agent.sock,fork,reuseaddr EXEC:"npiperelay.exe -ei -s //./pipe/openssh-ssh-agent",nofork
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
{{ end -}}
