{{- $osID := .chezmoi.os -}}
{{- if and (hasKey .chezmoi "osRelease") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $isWSL := false -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi "kernel") -}}
{{-   $isWSL = contains "microsoft" (lower .chezmoi.kernel.osrelease) -}}
{{- end -}}

[data]
    osID = {{ $osID | quote }}
    isWSL = {{ $isWSL }}
