[gpg]
    format = ssh

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
{{- if eq .chezmoi.os "windows" }}
    program = "C:/Windows/System32/OpenSSH/ssh-keygen.exe"
{{- else if eq .chezmoi.os "darwin" }}
    program = /usr/bin/ssh-keygen
{{- else }}
    program = ssh-keygen
{{- end }}


[user]
    name = oxonium0215
    email = 102494177+oxonium0215@users.noreply.github.com
    signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILsekEiP6+2RBAYILDfwhIWbqUXTx9uGOQYt7jvmmBav"
