{{ index . "git_email" | default "102494177+oxonium0215@users.noreply.github.com" }} {{ index . "git_signingkey" | default "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILsekEiP6+2RBAYILDfwhIWbqUXTx9uGOQYt7jvmmBav" }}
