shell = "zsh"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer -t 0.0001 source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[plugins.zsh-async]
github = "mafredri/zsh-async"

[plugins.z]
github = 'agkozak/zsh-z'
apply = ["defer"]
hooks.post = '''
zsh-defer eval "ZSHZ_NO_RESOLVE_SYMLINKS=1"
'''

[plugins.bd]
github = 'Tarrasch/zsh-bd'
use = ['bd.zsh']
apply = ["defer"]

[plugins.zsh-abbr]
github = 'olets/zsh-abbr'
apply = ["defer"]
